
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  html,body {
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 200%;
    width: 100%;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
  }
  
  .container {
   
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container a:hover {
    text-decoration: underline;
  }
  .logo{
    display: flex;
    align-items: center;
    gap: 1em;
  }

  h1 {
    margin: 0;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
  }
  .signout a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .auth-buttons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  main {
    padding: 2em;
    text-align: center;
    flex: 1;
    gap: 10em;
    
  }
  .media-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  
  .video-container {
    flex: 1;
    translate: -180px;
    margin-top: 20px;
  }
  
  .video-section {
    flex: 1;
    margin-top: 30px;
    translate: -400px;
    animation: slideUp 0.5s ease-out;
  }
  
  video {
    height: 500px;
    width: 150%;
    max-width: 800px; 
    border: 2px solid #4CAF50;
    border-radius: 8px;
  }
  .slideshow-container {
    margin-top: 30px;
    position: relative;
    width: 20%;
    overflow: hidden;
    height: 470px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .slideshow {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .features-section {
    padding: 2em;
    text-align: center;
    background-color: #ffffff;
  }
  
  .features-container {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
  }
  
  .feature {
    flex: 1;
    max-width: 300px;
    background-color: #f9f9f9;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 1em;
    transition: transform 0.3s , box-shadow 0.3s;
  }
  .feature:hover{
    transform: scale(1.10);
    box-shadow: 6px 10px 2px rgba(0, 0, 0, 0.2);
  }
  
  .feature-icon {
    font-size: 2em;
    color: #4CAF50;
    margin-bottom: 0.5em;
  }
  
  .feature h3 {
    margin: 0.5em 0;
  }
  
  .feature p {
    font-size: 1em;
    color: #666;
  }
  
  
  /* Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
  }
  
  .footer_container {
    padding: 30px 0px 40px 0px;
    background-color: #fafbfc;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
  }
  
  .footer_column {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
  }
  
  .footer_column h3 {
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
  }
  
  .footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
  }
  
  .button {
    display: flex;
  }
  
  .playstore {
    width: 120px;
  }
  
  .appstore {
    margin-left: 15px;
    margin-top: 25px;
    width: 90px;
  }
  
  .media {
    display: flex;
  }
  
  .social {
    margin-left: 10px;
  }
  
  .copyright {
    color: #94969f;
    text-align: center;
    padding: 15px 0;
  }

  .pickup:hover{
    cursor: pointer;
  }
  .rewards:hover{
    cursor: pointer;
  }
  @keyframes slideUp {
    0%{
      transform: translateY(-80);
    }
    100%{
      transform: translateY(0);
    }
  }
  